<!DOCTYPE html>
<html>
    <head>
        <title>students</title>
        <link rel="stylesheet"type="text/css" href="/css/css_form_addmission.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {{!-- <style>
        #box {
            background-color:#EFE1E1 ;
            margin-top: 25px;
            padding: 20px;
            -webkit-box-shadow:10px,10px,20px,1px rgba(0,0,0,0,75);
            -moz-box-shadow:10px,10px,20px,1px rgba(0,0,0,0,75);
            box-shadow: 10px,10px,20px,1px rgba(0,0,0,0,75);
            border-radius:10px,10px,10px,10px;
            moz-border-radius:10px,10px,10px,10px;
            webkit-border-radius:10px,10px,10px,10px;
            border: 0px solid #000000;
        }            
        </style> --}}
    </head>
    <body class="big-info">
        <div id="box" class="col-md-6 offset-md-3">
             {{{body}}}
        </div>

    </body>
</html>